<div class="index">
	<div class="header">
		<div class="container">
			<div class="box">
				<div class="title">Tech Assets Repository</div>
				<div class="search-box">
					<%= form_tag tech_assets_path, class: "search-form", :method => 'get' do %>
						<%= text_field_tag :search, params[:search], class: "search-input", placeholder: "Try 'InsurCloud'" %>
						<%= submit_tag "Search", class: 'button' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>





	<div class="section">
		<div class="container">
			<div class="title-row">
				<div class="title">
					View Assets
				</div>
				<div class="filter-row">
					<div class="filter">
						All Service Lines
						<i class="fa fa-angle-down"></i>
					</div>
					<div class="filter">
						All Locations
						<i class="fa fa-angle-down"></i>
					</div>

					<div class="filter">
						All Technologies
						<i class="fa fa-angle-down"></i>
					</div>
					<div class="filter">
						All Maturities 
						<i class="fa fa-angle-down"></i>
					</div>
				</div>
			</div>

			<div class="asset-box">

				<% if @tech_assets.empty? %>
					No results. Please search again.
				<% else %>
				<% @tech_assets.each do |tech_asset| %>

					<%= link_to tech_asset do %>
					<div class="asset-row">
						<div class="picture">
						</div>
						<div class="info">
							<div class="name"><%= tech_asset.title %></div>
							<div class="text"><%= tech_asset.short_description %></div>
						</div>
						<div class="item ml-auto mh service_line"><%= tech_asset.service_line %></div>
						<div class="item mh location"><%= tech_asset.location %></div>
						<div class="item mh industry"><%= tech_asset.industry %></div>
						<div class="item mh technology"><%= tech_asset.technology %></div>
						<div class="item mh maturity"><%= tech_asset.maturity %></div>
					</div>			
					<% end %>
				<% end %>
				<% end %>

			</div>

			<!--<button class="align-center">View More</button>-->
		</div>
	</div>
</div>