<h1> Advanced Search </h1>

<%= form_for @search do |s| %>

	<div class="field">
		<%= s.label :keywords %><br/>
		<%= s.text_field :keywords %>
	</div>

	<div class="field">
		<%= s.label :location %><br/>
		<%= s.select :location, options_for_select(@locations), include_blank: true %>
	</div>

	<div class="actions"><%= s.submit "Search", class: "btn-primary" %></div>

<% end %>

<%= link_to "Back", root_path %>